@import "bootstrap";


//общие правила

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-left: 20px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  margin-top: 20px;  
  text-align: center;
  font-weight: normal;
  color: #999;
}


.alert {
  padding: 0px 0px;
  border: 0px;
}

//Шапка

.navbar-inner {
  background: #009999;
  color: white;
}

nav{
  li {  
  display: inline; 
  }
  a {
  color: white;
  display: inline-block;  
  width: 100px;  
  text-align: left;   
  margin: 10px;
  }
}


//классы для проект#индекс

.projdiv{
  background-color: #cff;
  width: 330px;
  margin: 10px;
  border-radius: 10px; 
  border-style: solid;
}

.namediv {
  padding: 5px;
  float: left; 
  width: 250px;
}

.actiondiv {
  margin: 10px 0px 0px 0px;
  padding: 5px;
  float: left; 
  width: auto;
  a { 
  color: black;
  text-align: left;
  font-weight: bold;
  }
}


.clear {
  clear: left; 
}

//классы для проект#show


.projheaddiv{
  font-size: 1.3em;
  line-height: 40px;
}

.taskdiv{
  background-color: #CCFFCC;
  width: 330px;
  padding: 10px 10px;
  margin: 5px 0px;
  border-radius: 10px; 
  border-style: solid;
  textarea{
  width: 95%;
  height: 200px;
  resize: none;
  }
}

//классы для task#index

.tasklist{
  background-color: #CCFFCC;
  width: 330px;
  padding: 10px 10px;
  margin: 5px 0px;
  float: left; 
  border-radius: 10px; 
  border-style: solid;
  textarea{
  width: 95%;
  height: 200px;
  resize: none;
  }
}

//.contentdiv{
//  background-color: #F0F0F0;
//  width: auto;
//  padding: 5px 5px;
//}

textarea{
  width: 80%;
  height: 200px;
}

//выпендреж с кнопкой

[type="submit"] {
  padding: 7px 30px; 
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  font-weight: bold;
  font-size: large;
  color: #009999;
}


